<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomerPortalMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <link rel="stylesheet" href="~/css/style.css" />
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function () {

            window.addEventListener('scroll', function () {

                if (window.scrollY > 50) {
                    document.getElementById('navbar_top').classList.add('fixed-top');
                    // add padding top to show content behind navbar
                    navbar_height = document.querySelector('.navbar').offsetHeight;
                    document.body.style.paddingTop = navbar_height + 'px';
                } else {
                    document.getElementById('navbar_top').classList.remove('fixed-top');
                    // remove padding top from body
                    document.body.style.paddingTop = '0';
                }
            });
        });


        // DOMContentLoaded  end
    </script>
    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
    <script>
            function funstocks() {
                alert("This feature is not enabled yet!");
            }
        </script>

    @*<script>
            function funIPO() {

                alert("NO IPO's Availabe!!!");
            }
        </script>*@
    <style>
        .active, .btn:hover {
            background-color: azure;
            color: white;
        }
    </style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script>
        function funIPO(msg, myYes) {
            var confirmBox = $("#confirm");
            confirmBox.find(".message").text(msg);
            confirmBox.find(".yes").unbind().click(function () {
                confirmBox.hide();
            });
            confirmBox.find(".yes").click(myYes);
            confirmBox.show();
        }
    </script>
     @*<script>
        function funstocks(msg, myYes) {
            var confirmBox = $("#confirmadmin");
            confirmBox.find(".message").text(msg);
            confirmBox.find(".yes").unbind().click(function () {
                confirmBox.hide();
            });
            confirmBox.find(".yes").click(myYes);
            confirmBox.show();
        }
    </script>*@
    <style>
        #confirm {
            display: none;
            background-color: #514E61;
            color: #FFFFFF;
            border: 1px solid #aaa;
            position: fixed;
            width: 250px;
            left: 50%;
            margin-left: -100px;
            padding: 6px 8px 8px;
            box-sizing: border-box;
            text-align: center;
        }
        

            #confirm button {
                background-color: #48E5DA;
                display: inline-block;
                border-radius: 5px;
                border: 1px solid #aaa;
                padding: 5px;
                text-align: center;
                width: 80px;
                cursor: pointer;
            }

        

            #confirm .message {
                text-align: center;
            }
       
    </style>


</head>
<body id="HomepageBody">



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 " id="navbar_top">
            <div class="container">
                <b class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Portfolio</b>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="About">About</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Services">Services</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Portfolio">Assets</a></li>
                        <li class="nav-item"><a class="nav-link text-white" asp-area="" asp-controller="Customer" asp-action="Contact">Contact</a></li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white btn btn-info" asp-area="" asp-controller="Customer" asp-action="Logout">Logout</a>
                        </li>
                    </ul>


                </div>
            </div>
            </nav> 
        
    </header>

    <div id="confirm">
        <div class="message">NO IPO's Available:(</div>
        <button class="yes">OK</button>
    </div>
    

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            &copy; 2021 - Cognizant Financial Solutions - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
