@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="btn-group" id="myDIV">
                <a class="btn btn-outline-primary" href="/Customer/ViewStockDetails">Stocks</a>
                <a class="btn btn-outline-primary active" href="/Customer/ViewMutualFundDetails">Mutual Funds</a>
                <a class="btn btn-outline-primary" href="/Customer/ViewNetWorth">NetWorth</a>
            </div>
        </div>
    </div>
</div>

<center>
    <div class="col-md-4">
        <br /><h2 class="text-success">Mutual Fund Details</h2><hr /><br />
    </div>
</center>
<center><b class="text-white">You don't have any Mutual Funds in Portfolio</b></center>