
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LoginLayoutAfterIndex.cshtml";
}
<link rel="stylesheet" href="~/css/style.css" />
<link href="../wwwroot/favicon.ico" rel="icon">
@*<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="../wwwroot/css/vendor/aos/aos.css" rel="stylesheet">
    <link href="../wwwroot/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../wwwroot/css/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../wwwroot/css/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../wwwroot/css/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../wwwroot/css/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">*@
<style>
    b {
        text-align: center;
        color: White;
    }
</style>


<!-- ======= Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
            <div class="col-xl-8 col-lg-8">

                <center><h1><b>Cognizant Financial Solutions</b></h1></center>
                <br />
                <h2> Invest and Grow Your Assets </h2>

            </div>
        </div>



    </div>
</section>

<!-- End  -->