@model CustomerPortalMVC.Models.PortfolioDetail

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/DuringLogin.cshtml";
}
<link href="~/css/site.css" rel="stylesheet" />

<div class="container">
    <h1 class="text-center text-success">Login</h1>
    <div class="row justify-content-md-center">

        <div class="col-md-4 text-white">

            <form asp-action="Login" asp-controller="Customer" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label text-success"></label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Your Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label text-success"></label>
                    <input asp-for="Password" class="form-control" placeholder="Enter Your Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                </div>
            </form>

        </div>

    </div>
    <div class="container"><center><b class="text-warning">@ViewBag.Message</b></center></div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
